html { 
	/* makes page fit in monitor */
	width: 100%;
	height: 100%;
	background-color: #ddd;
}

/*************** DIVS ********************/
#container{
	width: 600px;
	height: 600px;
	position: relative;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #f00000;
}

#header{
	width: 576px;
	height: 80px;
	position: absolute;
	z-index: 1;
	top: 0px;	
	left: 0px;
	background-color: #ddd;
	padding: 10px 0px 0px 20px;
	border: 2px solid #000
}

#navigation{
	width: 576px;
	height: 80px;
	position: absolute;
	z-index: 2;
	top: 80px;	
	left: 0px;
	background-color: #bbb;
	padding: 10px 0px 0px 20px;
	border: 2px solid #000;
}

#content{
	width: 576px;
	height: 362px;
	position: absolute;
	z-index: 3;
	top: 152px;	
	left: 0px;
	background-color: #eee;
	padding-left: 20px;
	border: 2px solid #000
}

#footer{
	width: 576px;
	height: 80px;
	position: absolute;
	z-index: 4;
	bottom: 0px;	
	left: 0px;
	background-color: #ddd;
	padding-left: 20px;
	border: 2px solid #000
}


/*************** TABLE ********************/
tr{
	background-color: #aaa;
	border: 2px solid #f00;
}

td{
	background-color: #aaa;
	border: 2px solid #f00;
	width: 5em;
}

/*************** FONTS ********************/

h1, h2, h3
{
	font-family: Calibri;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: -5px;
}

h1
{
	font-size: 1.6em;
	color: #ff000f;
}

h2
{
	font-size: 1.4em;
	color: #aa000a;
}

h3
{
	font-size: 1.2em;
	color: #880008;
}

a:link, a:hover, a:visited, a:active {
	font-size: 1.0em;
	text-decoration: none;
	background-color: #edec9a;
	padding: 2px 2px 2px 2px;
	margin-bottom:3px;
    text-align: center;
    display: inline-block;
	border: 1px solid #000;
}

a:link {
	color: #00f;
}

a:hover {
	color: #0f0;
}

a:visited {
	color: #f00;
}

a:active {
	color: #ff0;
}