@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html{
	width: 100%;
	height: 100%;


	--cola: rgb(30,30,30);
	--colb: rgb(144,54,196);
	--colc: rgb(196,31,60);
	--cold: rgb(255,64,69);
	--cole: rgb(40,10,52);
	--cold: rgb(255,255,255);
	background-color: var(--cola);
	font-family: "Open Sans", Arial;
	color: var(--cold);
}

.output{
	display: inline;
	padding: 10px;
}