@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


/****************Webpage****************/


html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	--cola: rgb(30,30,30);
	--colb: rgb(144,54,196);
	--colc: rgb(196,31,60);
	--cold: rgb(255,64,69);
	--cole: rgb(40,10,52);
	--cold: rgb(255,255,255);
	--colf: rgb(255,255,255,0.2);
	background-color: var(--cola);
	font-family: "Open Sans", Arial;
	color: var(--cold);
}

body{
	margin: 0;
	padding: 0;
}




/****************Nav****************/


nav{
	width: 100%;
	margin: 0;
	padding: 0;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 10px black;
	margin-bottom: 10px;
}

#navcontent{
	display: flex;

}

.navlink{
	display: inline-block;
	text-decoration: none;
	color: var(--cold);
	margin: 0 auto;
	padding: 10px 50px;
	font-size: 20px;
	border-radius: 5px;
	transition: background-color 0.2s;
}

.navlink:hover{
	background-color: var(--colf);
}

.dropdown{
	--dddisplay: 0;
	display: inline-block;
	text-decoration: none;
	color: var(--cold);
	margin: 0 auto;
	border-radius: 5px;
	transition: background-color 0.2s;
}

.dropdown p{
	margin: 0;
}

.dropdown p:hover{
	background-color: rgba(0,0,0,0);
}

.dropdown:hover{
	--dddisplay: 1;
	background-color: var(--colf);
}

.dropdown1{
	display: block;
	opacity: var(--dddisplay);
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: var(--colf);
	transition: opacity 0.2s;
	border-radius: 5px;
}

.dropdownitem{
	display: block;
	text-decoration: none;
	color: var(--cold);
	padding: 10px 50px;
	font-size: 20px;
	border-radius: 5px;
	transition: background-color 0.2s;
	margin: 0;
}

.dropdownitem:hover{
	background-color: var(--colf);
}


/****************Body****************/


#wrapper{
	width: 100%;
}


/****************Login****************/





/****************Query****************/


#row:nth-child(2n){
	background-color: var(--colf);
}

#row{
	display: grid;
	grid-template-columns: calc(30% - 20px) calc(25% - 20px) calc(5% - 20px) calc(20% - 20px) calc(20% - 20px);
	width: 100%;
	border-radius: 10px;
}

.titles{
	font-weight: bold;
	font-size: 24px;
}

.output{
	display: grid;
	padding: 10px;
	width: 100%;
}